<section class="admin-dashboard">

    <div class="container-fluid">

        <div class="head-sec my-3">
            <h2 class="section-title">Overview</h2>
        </div>

        <div class="row gap-5 row-cols-lg-4 justify-content-center">


            <div class="shadow card dashboard-card" style="width: 20rem;">
                <div class="card-body text-center">
                    <i class="main-icon fa-solid fa-utensils mt-2 mb-3"></i>
                    <h5 class="card-title mb-3"><span>{{publishedRecipesCount}}</span> Recipes</h5>
                    <h6 class="card-text mb-3"><span class="fw-bolder">{{pendingRecipesCount}}</span> Pending</h6>
                    <a href="/admin/view-all-recipes">View all <i class="fa-solid fa-caret-right"></i></a>
                    <a class="ms-3" href="/admin/user-recipes">View pending <i class="fa-solid fa-caret-right"></i></a>
                </div>
            </div>

            <div class="shadow card dashboard-card" style="width: 20rem;">
                <div class="card-body text-center">
                    <i class="main-icon fa-solid fa-globe mt-2 mb-3"></i>
                    <h5 class="card-title mb-3"><span>{{totalCuisines}}</span> Cuisines</h5>
                    <a href="/admin/view-all-cuisines">View all <i class="fa-solid fa-caret-right"></i></a>
                </div>
            </div>

            <div class="shadow card dashboard-card" style="width: 20rem;">
                <div class="card-body text-center">
                    <i class="main-icon fa-solid fa-user mt-2 mb-3"></i>
                    <h5 class="card-title mb-3"><span>{{usersCount}}</span> Users</h5>
                    <a href="/admin/view-users">View all <i class="fa-solid fa-caret-right"></i></a>
                </div>
            </div>

            <div class="shadow card dashboard-card" style="width: 20rem;">
                <div class="card-body text-center">
                    <i class="main-icon fa-solid fa-user-tie mt-2 mb-3"></i>
                    <h5 class="card-title mb-3"><span>{{membersCount}}</span> Members</h5>
                    <a href="">View all <i class="fa-solid fa-caret-right"></i></a>
                </div>
            </div>


        </div>

    </div>

</section>