<section class="user-recipes-sec">

    <div class="head-sec my-3">
        <h2 class="section-title">User Recipes</h2>
    </div>

    {{#if pendingRecipes}}
    <div class="recipe-pending">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 mt-3">
                    <h3 class="section-subtitle ms-sm-5">Pending</h3>
                </div>

                {{#each pendingRecipes}}
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mt-4 text-center recipe-card">
                    <a href="/admin/view-recipe/{{this._id}}">
                        <div class="recipe-img">
                            <img src="/recipe_images/{{this._id}}.jpg" alt="{{this.name}}">
                        </div>
                        <p class="mt-2">{{this.name}}</p>
                    </a>
                </div>
                {{/each}}

            </div>
        </div>
    </div>
    {{/if}}

    {{#if rejectedRecipes}}
    <div class="recipe-rejected my-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 mt-3">
                    <h3 class="section-subtitle ms-sm-5">Rejected</h3>
                </div>

                {{#each rejectedRecipes}}
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mt-4 text-center recipe-card">
                    <a href="/admin/view-recipe/{{this._id}}">
                        <div class="recipe-img">
                            <img src="/recipe_images/{{this._id}}.jpg" alt="{{this.name}}">
                        </div>
                        <p class="mt-2">{{this.name}}</p>
                    </a>
                </div>
                {{/each}}

            </div>
        </div>

    </div>
    {{/if}}


    {{#if recentlyPublishedRecipes}}
    <div class="recipe-publised my-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 mt-3">
                    <h3 class="section-subtitle ms-sm-5">Recently Published</h3>
                </div>

                {{#each recentlyPublishedRecipes}}
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mt-4 text-center recipe-card">
                    <a href="/admin/view-recipe/{{this._id}}">
                        <div class="recipe-img">
                            <img src="/recipe_images/{{this._id}}.jpg" alt="{{this.name}}">
                        </div>
                        <p class="mt-2">{{this.name}}</p>
                    </a>
                </div>
                {{/each}}

                <div class="mb-3">
                    <a href="" class="normal-link float-end">View all <i class="fa-solid fa-arrow-right"></i></a>
                </div>

            </div>
        </div>
    </div>
    {{/if}}

</section>