<section>
    <div class="head-sec my-3">
        <h2 class="section-title">{{cuisine.name}}</h2>
        <p class="text-center">{{cuisine.description}}</p>
    </div>

    <div class="container-fluid">
        <div class="row">


            {{#each recipes}}
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-3 text-center recipe-card">
                <a href="/admin/view-recipe/{{this._id}}">
                    <div class="recipe-img">
                        <img class="img-fluid" src="/recipe_images/{{this._id}}.jpg" alt="{{this.name}}">
                    </div>
                    <p class="mt-2">{{this.name}}</p>
                </a>
            </div>
            {{/each}}

        </div>

        {{#unless recipes}}
        <div class="px-4 py-5 my-5 text-center">
            <i style="font-size: 3rem;" class="fa-solid fa-face-frown mb-4"></i>
            <h1 class="display-5 fw-bold">No recipes found</h1>
            <div class="col-lg-6 mx-auto">
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <a href="/admin/admin-home"><button type="button" class="primary-btn">Back to Home</button></a>
                </div>
            </div>
        </div>
        {{/unless}}

    </div>
</section>