<section class="view-users-sec">

    <div class="head-sec my-3">
        <h2 class="section-title">Pro Users</h2>
    </div>

    <div class="container-fluid">


        <div>
            <form class="d-flex me-5" role="search" action="/admin/search-user" method="get">
                <input class="form-control rounded-5 searchbox" type="search" placeholder="Search by email"
                    aria-label="Search" name="keyword">
                <button class="ms-1 rounded-5 header-btn" type="submit">Search</button>
            </form>
        </div>

        <!-- Table wrapper for responsiveness -->
        <div class="table-responsive">
            <table class="table table-striped users-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Mobile</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each users}}
                    <tr>
                        <td>{{this.name}} 
                            {{#if this.isPro}}
                            <span class="badge rounded-pill fw-semibold text-bg-warning">pro</span>
                            {{/if}}
                        </td>
                        <td>{{this.email}}</td>
                        <td>{{this.mobile}}</td>
                        <td class="text-end">
                            <div class="d-flex flex-column flex-md-row justify-content-end">
                                <a href="/admin/view-user-profile/{{this._id}}" class="me-0 me-md-3 mb-2 mb-md-0">
                                    <button class="primary-btn-outline btn-sm w-100">View profile</button>
                                </a>
                                <a href="/admin/edit-profile/{{this._id}}" class="me-0 me-md-3 mb-2 mb-md-0">
                                    <button class="btn btn-primary rounded-3 btn-sm w-100">
                                        <i class="fa-solid fa-pen"></i>
                                    </button>
                                </a>
                                <a href="/admin/delete-user/{{this._id}}"
                                    onclick="return confirm('Are you sure you want to permanently delete this User?')">
                                    <button class="btn btn-danger rounded-3 btn-sm w-100">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </a>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</section>