
{{#if user}}
  {{#if expiryDetails.notifyExpiry}}
    {{#if expiryDetails.expired}}
      <!-- Alert when membership is expired -->
      <div>
        <div class="alert alert-danger d-flex justify-content-between align-items-center mb-0" role="alert">
          <div>
            <strong>Warning!</strong> Your pro membership has expired.
            <a href="" class="alert-link">Renew Now</a>.
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" id="alertClose"></button>
        </div>
      </div>
    {{else}}
      <!-- Alert when membership is about to expire -->
      <div>
        <div class="alert alert-warning d-flex justify-content-between align-items-center mb-0" role="alert">
          <div>
            <strong>Warning!</strong> Your pro membership will expire in {{expiryDetails.daysLeft}} days.
            <a href="" class="alert-link">Renew Now</a>.
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" id="alertClose"></button>
        </div>
      </div>
    {{/if}}
  {{/if}}
{{/if}}

<section>
    <div class="container-fluid m-0 p-0">
        <div class="row landing-sec">
            <div class="col-lg-6">
                <div class="landing-left">
                    <h1>Discover Global Flavors,<br>One Recipe at a Time</h1>
                    <p>Embark on a culinary adventure and explore recipes that bring the world to your kitchen. Taste,
                        create, and share unforgettable flavors from every corner of the globe.</p>
                        {{#unless user}}
                        <h3 class="mb-3">
                        Login to Explore more
                        </h3>
                        {{/unless}}
                    <a href="/submit-recipe"><button class="primary-btn">Submit Recipe</button></a>
                    <a href="/view-all-recipes"><button class="ms-2 primary-btn-outline">See all Recipes</button></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="landing-right">
                    <img class=" img-fluid"
                        src="https://images.pexels.com/photos/1640772/pexels-photo-1640772.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                        alt="Recipe haven">
                </div>
            </div>
        </div>
    </div>
</section>


<section class="cuisine-sec">
    <h2 class="section-title text-center">Cuisines</h2>
    <p class="text-center mb-md-4 section-description">Click a cuisine to see recipes</p>
    <div class="container-fluid">
        <div class="swiper-container cuisine-selector">
            <div class="swiper-wrapper">
                {{#each cuisines}}
                <div class="swiper-slide">
                    <div class="col-xl-2 col-md-4 col-sm-6 mx-auto">
                        <a class="" href="/view-recipes-by-cuisine/{{this._id}}">
                            <div class="cuisine-img">
                                <img class="img-fluid" src="/images/{{this._id}}.jpg" alt="{{this.name}}">
                            </div>
                            <p class="mt-2">{{this.name}}</p>
                        </a>
                    </div>
                </div>
                {{/each}}
            </div>

            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>

</section>



<section class="latest-recipes-sec">
    <div class="container-fluid py-5">
        <div class="row">
            <h2 class="section-title text-center">Latest Recipes</h2>

            {{#each latestRecipes}}
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mt-4 text-center recipe-card">
                <a href="/view-recipe/{{this._id}}">
                    <div class="recipe-img">
                        <img class="img-fluid" src="/recipe_images/{{this._id}}.jpg" alt="{{this.name}}">
                    </div>
                    <p class="mt-2">{{this.name}}</p>
                </a>
            </div>
            {{/each}}

            <div class="text-center mt-5">
                <a href="/view-all-recipes"><button class="primary-btn px-4"> View all &nbsp; <i
                            class="fa-solid fa-caret-right"></i></button></a>
            </div>

        </div>
    </div>
</section>



{{!-- submit your recipe section --}}
<section class="submit-recipe-banner">
    <div class="container-fluid py-5 px-0 md-px-5">
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="submit-recipe-img">
                    <img class="img-fluid"
                        src="https://images.pexels.com/photos/376464/pexels-photo-376464.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                        alt="Recipe haven">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 submit-sec-text">
                <div>
                    <h1 class="fw-bolder">Submit your recipe for<br> Free today</h1>
                    <p>Have a favorite dish? Share your unique <br>recipes with our community and inspire others to cook
                        something new!</p>
                    <a href="/submit-recipe"><button class="primary-btn">Submit Recipe</button></a>
                </div>
            </div>
        </div>
    </div>
</section>

{{!-- submit your recipe section --}}

<footer>
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12">
                <h5 class="text-center credit"><a href="/"><i class="fa-solid fa-copyright"></i> Recipe Haven</a></h5>
            </div>
        </div>
    </div>
</footer>