<section class="user-view-your-recipes-sec">
    <h2 class="section-title text-center mt-4">Your Recipes</h2>
    {{#if publishedRecipes}}
    <div class="recipe-publised my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mt-3">
                    <h3 class="section-subtitle ms-md-5">Published</h3>
                </div>

                {{#each publishedRecipes}}
                <div class="col-md-3 mt-4 text-center recipe-card">
                    <a href="">
                        <div class="recipe-img">
                            <img src="/recipe_images/{{this._id}}.jpg" alt="{{this.name}}">
                        </div>
                        <p class="mt-2">{{this.name}}</p>
                    </a>
                </div>
                {{/each}}


            </div>
        </div>
    </div>
    {{/if}}

    {{#if pendingRecipes}}
    <div class="recipe-pending my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mt-3">
                    <h3 class="section-subtitle ms-md-5">Pending</h3>
                </div>

                {{#each pendingRecipes}}
                <div class="col-md-3 mt-4 text-center recipe-card">
                    <a href="">
                        <div class="recipe-img">
                            <img src="/recipe_images/{{this._id}}.jpg" alt="{{this.name}}">
                        </div>
                        <p class="mt-2">{{this.name}}</p>
                    </a>
                </div>
                {{/each}}

            </div>
        </div>
    </div>
    {{/if}}

    {{#if rejectedRecipes}}
    <div class="recipe-rejected my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mt-3">
                    <h3 class="section-subtitle ms-md-5">Rejected</h3>
                </div>

                {{#each rejectedRecipes}}
                <div class="col-md-3 mt-4 text-center recipe-card">
                    <a href="">
                        <div class="recipe-img">
                            <img src="/recipe_images/{{this._id}}.jpg" alt="{{this.name}}">
                        </div>
                        <p class="mt-2">{{this.name}}</p>
                    </a>
                </div>
                {{/each}}

            </div>
        </div>

    </div>
    {{/if}}

</section>

<section class="footer">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12">
                <h5 class="text-center credit"><a href="/"><i class="fa-solid fa-copyright"></i> Recipe Haven</a></h5>
            </div>
        </div>
    </div>
</section>