<section>
    <div class="container-fluid">
        <div class="row">

            <div class="head-sec my-3">
                {{#if searchResults.length}}
                <h2 class="section-title text-center">Search results for '{{keyword}}'</h2>
                {{else}}
                <h2 class="section-title text-center">No recipes found for '{{keyword}}'</h2>
                {{/if}}
            </div>

            {{#each searchResults}}
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-4 text-center recipe-card">
                <a href="/view-recipe/{{this._id}}">
                    <div class="recipe-img">
                        <img class="img-fluid" src="/recipe_images/{{this._id}}.jpg" alt="{{this.name}}">
                    </div>
                    <p class="mt-2">{{this.name}}</p>
                </a>
            </div>
            {{/each}}

        </div>
    </div>
</section>