<section>
  <div class="container-fluid">

    <div class="row">
      <div class="head-sec my-3">
        <h2 class="section-title text-center mb-3">Plans</h2>
        <p class="text-center mx-lg-5 section-description">Join our community of passionate cooks and food
          lovers by
          subscribing to our Pro
          plan. This exclusive membership allows you to submit your own unique recipes and share your culinary
          creations with the world.</p>
      </div>

    </div>

    <div class="row text-center justify-content-center">

      <div class="col-xl-3 col-lg-5 col-md-6">
        <div class="card mb-4 rounded-3 shadow-sm border-dark">
          <div class="card-header py-3 text-white bg-dark border-dark">
            <h4 class="my-0 fw-normal">1 Month</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$1.19<small class="text-muted fw-light">/mo</small>
            </h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li><i class="fa-solid fa-check text-success"></i> Access to all Recipes</li>
              <li><i class="fa-solid fa-check text-success"></i> Create your own recipes</li>
            </ul>
            <button id="" data-value="1" type="button" class="upgrade-btn w-100 btn btn-lg primary-btn load-btn">
              {{#if userIsPro}}
                {{#if expiryDetails.notifyExpiry}}
                Renew plan
                {{else}}
                Extend plan
                {{/if}}
              {{else}}
              Upgrade to pro
              {{/if}}
            </button>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-5 col-md-6">
        <div class="card mb-4 rounded-3 shadow-sm border-dark">
          <div class="card-header py-3 text-white bg-dark border-dark">
            <h4 class="my-0 fw-normal">6 Months</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$1.19<small class="text-muted fw-light">/mo</small>
            </h1>
             <ul class="list-unstyled mt-3 mb-4">
              <li><i class="fa-solid fa-check text-success"></i> Access to all Recipes</li>
              <li><i class="fa-solid fa-check text-success"></i> Create your own recipes</li>
            </ul>
            <button id="" data-value="6" type="button" class="upgrade-btn w-100 btn btn-lg primary-btn load-btn">
              {{#if userIsPro}}
                {{#if expiryDetails.notifyExpiry}}
                Renew plan
                {{else}}
                Extend plan
                {{/if}}
              {{else}}
              Upgrade to pro
              {{/if}}
            </button>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-5 col-md-6">
        <div class="card mb-4 rounded-3 shadow-sm border-dark">
          <div class="card-header py-3 text-white bg-dark border-dark">
            <h4 class="my-0 fw-normal">1 Year</h4>
          </div>
          <div class="card-body">
            <h4 class="card-title text-muted pricing-card-title text-decoration-line-through">$1.19/mo</h4>
            <h1 class="card-title pricing-card-title">$1.13<small class="text-muted fw-light">/mo</small></h1>
             <ul class="list-unstyled mt-3 mb-4">
              <li><i class="fa-solid fa-check text-success"></i> Access to all Recipes</li>
              <li><i class="fa-solid fa-check text-success"></i> Create your own recipes</li>
            </ul>
            <button id="" data-value="11.4" type="button" class="upgrade-btn w-100 btn btn-lg primary-btn load-btn">
              {{#if userIsPro}}
                {{#if expiryDetails.notifyExpiry}}
                Renew plan
                {{else}}
                Extend plan
                {{/if}}
              {{else}}
              Upgrade to pro
              {{/if}}
            </button>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>

<footer>
  <div class="container py-5">
    <div class="row">
      <div class="col-md-12">
        <h5 class="text-center credit"><a href="/"><i class="fa-solid fa-copyright"></i> Recipe Haven</a></h5>
      </div>
    </div>
  </div>
</footer>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
document.querySelectorAll('.upgrade-btn').forEach(button => {
  button.addEventListener('click', async function () {
    const value = this.getAttribute('data-value');
    const upgradeButton = this;

    // Simulate loading state by disabling the button and showing a spinner or loading indicator
    upgradeButton.disabled = true;
    upgradeButton.classList.add('button-loading');

    // Make a POST request to create the order
    const response = await fetch('/create-order', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({ value: value })
    });

    const order = await response.json();  // Get the order details from the backend

    // Razorpay payment modal configuration
    const options = {
      "key": "rzp_test_9lrlVTSNPRhsQA", // Replace with your Razorpay key_id
      "amount": order.amount,  // Amount from the generated order
      "currency": "INR",
      "name": "Recipe Haven Pro",
      "description": "Upgrade to pro",
      "order_id": order.id,  // Order ID from Razorpay
      "handler": (response) => {

        alert("Payment successful! Payment ID: " + response.razorpay_payment_id);

        // Send the payment details to the backend for verification and further processing
        fetch('/verify-payment', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({
            payment_id: response.razorpay_payment_id,
            order_id: response.razorpay_order_id,
            signature: response.razorpay_signature,
            amount:order.amount
          })
        }).then((res) => res.json())
          .then((data) => {
            if (data.success) {
              window.location.href = '/payment-success';
            } else {
              window.location.href = '/payment-fail';
            }
          });
      },
      "prefill": {
        "name": "{{user.name}}",
        "email": "{{user.email}}",
        "contact": "{{user.mobile}}"
      }
    };

    const rzp1 = new Razorpay(options);
    rzp1.open();

    upgradeButton.disabled = false;
    upgradeButton.classList.remove('button-loading');
  });
});

</script>