<section class="recipe-page">
    <div class="container py-4">
        <h2 class="text-center section-title mb-5">{{recipe.name}}</h2>

        <div class="row">

            <div class="col-md-5">
                <div class="dish-img">
                    <img src="/recipe_images/{{recipe._id}}.jpg" alt="{{recipe.name}}">
                </div>
            </div>

            <div class="col-md-7">

                <div class="user">
                    <a href=""><i class="fa-solid fa-user"></i> {{recipe.userDetails.name}}</a>
                </div>

                <div class="cuisine mt-3">
                    <a href=""><i class="fa-solid fa-tag"></i> {{recipe.cuisine.name}}</a>
                </div>

                <div class="ingredients mt-3">
                    <h3 class="section-subtitle">Ingredients</h3>
                    <ul class="mt-4">
                        {{#each recipe.ingredients}}
                        <li>{{this}}</li>
                        {{/each}}
                    </ul>
                </div>


            </div>

            <div class="col-md-12 p-5">
                <h3 class="mb-4">Cooking instructions</h3>
                <p> {{recipe.cooking_instructions}}</p>
            </div>

            {{#if recipeOwner}}
            <div class="text-center">
                <a href=""><button class="primary-btn">Edit</button></a>
                <a href=""><button class="primary-btn">Delete</button></a>
            </div>
            {{/if}}

        </div>

    </div>
</section>