<section class="recipe-page">
    <div class="container-fluid py-4">

        <div class="row justify-center">

            <div class="options col-12">
                <button id="bookmarkRecipe" class="float-end" data-recipe-id="{{recipe._id}}">
                    {{#if isBookmarked}}
                    <i class="fa-solid fa-bookmark"></i> <!-- Bookmarked -->
                    {{else}}
                    <i class="fa-regular fa-bookmark"></i> <!-- Not Bookmarked -->
                    {{/if}}
                </button>
            </div>

            <div class="title col-12">
                <h2 class="text-center section-title mb-5">{{recipe.name}}</h2>
            </div>

            <div class="col-md-6 mb-3">
                <div class="dish-img">
                    <img src="/recipe_images/{{recipe._id}}.jpg" class="img-fluid" alt="{{recipe.name}}">
                </div>
            </div>

            <div class="col-md-5 ms-0 ms-sm-5">
                <div class="user">
                    <a href="/view-other-user-profile/{{recipe.userId}}"><i class="fa-solid fa-user"></i>
                        {{recipe.userDetails.name}}</a>
                </div>
                <div class="cuisine mt-1">
                    <a href="/view-recipes-by-cuisine/{{recipe.cuisine._id}}"><i class="fa-solid fa-tag"></i>
                        {{recipe.cuisine.name}}</a>
                </div>
                <div class="avgrating mt-1">
                    <p><i class="fa-solid fa-star"></i>
                        {{recipe.averageRating}}</p>
                </div>


                <div class="ingredients mt-3">
                    <h3 class="section-subtitle">Ingredients</h3>
                    <ul class="mt-3">
                        {{#each recipe.ingredients}}
                        <li>{{this}}</li>
                        {{/each}}
                    </ul>
                </div>


            </div>

            <div class="cook-instructions col-md-12 py-5 px-md-5 px-2">
                <h3 class="mb-4 section-subtitle">Cooking instructions</h3>
                <p> {{recipe.cooking_instructions}}</p>
            </div>

            {{#if recipeOwner}}
            <div class="text-center">
                <a href="/edit-recipe/{{recipe._id}}"><button class="primary-btn">Edit</button></a>
                <a href="/delete-recipe/{{recipe._id}}"
                    onclick="return confirm('Are you sure you want to delete This recipe?')"><button
                        class="primary-btn">Delete</button></a>
            </div>
            {{/if}}




        </div>
</section>

<hr>

<!-- Rating Section -->

<div class="col-md-6 col-lg-3 col-12 text-center mx-auto">
    <div class="rating-container py-3">
        <p>Rate this Recipe</p>
        <div class="rating">
            <input type="radio" id="star5" name="rate" value="5" />
            <label for="star5" title="5 stars"></label>
            <input type="radio" id="star4" name="rate" value="4" />
            <label for="star4" title="4 stars"></label>
            <input type="radio" id="star3" name="rate" value="3" />
            <label for="star3" title="3 stars"></label>
            <input type="radio" id="star2" name="rate" value="2" />
            <label for="star2" title="2 stars"></label>
            <input type="radio" id="star1" name="rate" value="1" />
            <label for="star1" title="1 star"></label>
        </div>
        <button id="submitRating" class="primary-btn mb-2" disabled>Submit Rating</button>
    </div>

</div>
<!-- Submit Rating Button -->


</div>

<footer>
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12">
                <h5 class="text-center credit"><a href="/"><i class="fa-solid fa-copyright"></i> Recipe Haven</a></h5>
            </div>
        </div>
    </div>
</footer>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(() => {
        // Enable submit button when a rating is selected
        $('.rating input').click(() => {
            $('#submitRating').prop('disabled', false);
        });

        // Handle submit rating button click
        $('#submitRating').click(() => {
            const ratingValue = $('input[name="rate"]:checked').val();
            const recipeId = "{{recipe._id}}"; // Retrieve the recipe ID dynamically

            $.post(`/rate-recipe/${recipeId}`, { rating: ratingValue }, (response) => {
                if (response.success) {
                    location.reload();
                } else {
                    alert(response.message);
                }
            });
        });
    });
</script>