<section class="recipe-page">
    <div class="container-fluid py-4">
        <h2 class="text-center section-title mb-5">{{recipe.name}}</h2>

        <div class="row justify-center">

            <div class="col-md-6 mb-3">
                <div class="dish-img">
                    <img src="/recipe_images/{{recipe._id}}.jpg" class="img-fluid" alt="{{recipe.name}}">
                </div>
            </div>

            <div class="col-md-5 ms-0 ms-sm-5">
                <div class="user">
                    <a href="/view-other-user-profile/{{recipe.userId}}"><i class="fa-solid fa-user"></i>
                        {{recipe.userDetails.name}}</a>
                </div>
                <div class="cuisine mt-3">
                    <a href="/view-recipes-by-cuisine/{{recipe.cuisine._id}}"><i class="fa-solid fa-tag"></i>
                        {{recipe.cuisine.name}}</a>
                </div>


                <div class="ingredients mt-3">
                    <h3 class="section-subtitle">Ingredients</h3>
                    <ul class="mt-4">
                        {{#each recipe.ingredients}}
                        <li>{{this}}</li>
                        {{/each}}
                    </ul>
                </div>


            </div>

            <div class="cook-instructions col-md-12 py-5 px-md-5 px-2">
                <h3 class="mb-4 section-subtitle">Cooking instructions</h3>
                <p> {{recipe.cooking_instructions}}</p>
            </div>

            {{#if recipeOwner}}
            <div class="text-center">
                <a href="/edit-recipe/{{recipe._id}}"><button class="primary-btn">Edit</button></a>
                <a href="/delete-recipe/{{recipe._id}}"
                    onclick="return confirm('Are you sure you want to delete This recipe?')"><button
                        class="primary-btn">Delete</button></a>
            </div>
            {{/if}}

        </div>

    </div>
</section>

<hr>
<footer>
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12">
                <h5 class="text-center credit"><a href="/"><i class="fa-solid fa-copyright"></i> Recipe Haven</a></h5>
            </div>
        </div>
    </div>
</footer>